# Emacs
resources/emacs/.emacs.d/.cache
resources/emacs/.emacs.d/.lsp-session-v1
resources/emacs/.emacs.d/auto-save-list
resources/emacs/.emacs.d/bookmarks
resources/emacs/.emacs.d/custom.el
resources/emacs/.emacs.d/dired-history
resources/emacs/.emacs.d/el-get
resources/emacs/.emacs.d/elpa
resources/emacs/.emacs.d/eshell
resources/emacs/.emacs.d/lsp-cache
resources/emacs/.emacs.d/recentf
resources/emacs/.emacs.d/request
resources/emacs/.emacs.d/transient/
resources/emacs/.emacs.d/undohist
resources/emacs/.emacs.d/url
hp-org-mode-local-config.el
*.elc
~$*
*~
\#*\#
.\#*

# zsh
# zaw via git submodle
resources/zsh/.zsh/zaw
.zsh_history
resources/zsh/.zsh/.zsh_sessions
resources/zsh/.zsh/.zcompdump
resources/zsh/.zsh/.chpwd-recent-dirs
resources/zsh/.zcompcache

# Python
.python-environments

# macOS
*.DS_Store