.python-environments

# Emacs
resources/emacs/undohist
resources/emacs/url/cookies
resources/emacs/url/cache
resources/emacs/bookmarks
resources/emacs/recentf
resources/emacs/.lsp-session-v1
resources/emacs/dired-history
ac-comphist.dat
auto-save-list
hp-org-mode-local-config.el
hp-org-mode-local-config.elc
.org-id-locations
.chpwd-recent-dirs
init.elc
custom.el
elpa/
~$*
*~
\#*\#

# zsh
zsh/zaw/
.zcompdump
resources/zsh/.zsh_history

# Mac
*.DS_Store