<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="GoogleChrome" />
    <package id="git-fork" />
    <package id="jq" />    
    <package id="winmerge" />
    <package id="microsoftazurestorageexplorer"/>
    <package id="quicklook"/>    
    <package id="vscode" />        
    <!--<package id="emacs" />--> 
    <package id="dwgtrueview" />
    <package id="msys2" />      
</packages>
