<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="GoogleChrome" />
    <package id="git-fork" />
    <package id="jq" />    
    <package id="Everything" />
    <package id="winmerge" />
    <package id="choco install microsoftazurestorageexplorer"/>
    <package id="vscode" />        
    <!--<package id="emacs" />-->       
    <package id="msys2" />      
</packages>
